/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (min-width: 1920px) {

}
@media all and (min-width: 1680px) {

}

@media all and (max-width: 1400px) {

}

@media all and (max-width: 1280px) {

}

@media all and (max-width: 1199px) {

}

@media all and (max-width: 1080px) {

}

@media all and (max-width: 1024px) {
.wrapper {
    padding-top: 65px;
}
    .header {
        height: 65px;
        .btn-ellipse {
            margin: 26px 35px 0;
            text-align: center;
        }
    }
    .logo {
        margin-top: 23px;
    }
    .desktop {
        display: none !important;
    }
    .mobile-menu-wrap,
    .mobile-category-toggle,
    .mobile-menu-toggle {
        display: block;
    }
    .swiper-container .container {
        padding-top: 10px;
    }
    .watch-block {
        padding: 34px 20px 29px;
    }
    .watch-block-list {
        margin: 0 -9px;
        > li {
            padding: 0 9px;
        }
    }
    .swiper-container.news-slider .swiper-slide {
        width: 80%;
    }
    .technology-list > li {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media all and (max-width: 991px) {

}

@media all and (max-width: 960px) {

}

@media all and (max-width: 860px) {

}

@media all and (max-width: 790px) {
    .wrapper {
        margin-bottom: -177px;
        &:after {
            height: 177px;
        }
    }
    .footer-logo {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-menu {
        overflow: hidden;
        clear: both;
        float: none;
        margin-bottom: 24px;
        > li:first-child {
            margin-left: 0;
        }
    }
    .footer-info {
        float: none;
        text-align: center;
    }
}

@media all and (max-width: 782px) {
    .admin-bar .header {
        top: 46px;
    }
}

@media all and (max-width: 768px) {

}

@media all and (max-width: 767px) {

}

@media (max-width: 767px) and (max-height: 480px) {

}
@media all and (max-width: 736px) {
    .section {
        padding: 30px 0 30px;
    }
    .tab-center-img-wrap,
    .section-description {
        margin-bottom: 30px;
    }
    .tab-block {
        margin-top: 24px;
    }
    .movable-list > li {
        width: 100%;
    }
    .movable-box {
        margin: 0 auto;
    }
    .movable-img-wrap {
        max-width: 100%;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .tab-name-list {
        margin-bottom: 30px;
        font-size: 1em;
        > li {
            padding: 10px 20px 10px;
        }
    }
    .tab-left-block,
    .tab-right-block {
        width: 100%;
        margin-bottom: 20px;
    }
    .gallery-thumbs {
        height: auto;
        padding-top: 2px;
    }
    .gallery-thumbs-list > li {
        width: 100%;
        border-bottom: 2px solid #fff;
        &:nth-child(2) {
            width: 100%;
            border-left: none;
            border-right: none;
        }
    }
    .banner-title {
        margin-bottom: 6px;
        font-size: 1.6em;
        line-height: 1;
        br {
            display: none;
        }
    }
    .section-watch .container {
        min-height: auto;
    }
    .watch-block-list {
        > li {
            width: 50%;
            margin-bottom: 18px;
            &:nth-child(odd) {
                clear: both;
            }
        }
    }
    .section-latest-news .section-title {
        margin-bottom: 31px;
    }
    a.btn-play, .btn-play {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
@media all and (max-width: 680px) {
    .new-img-wrap {
        float: none;
        margin: 0 auto;
    }
    .banner-wrap {
        padding-right: 0;
    }
    .section-class .tab-name-list {
        width: 162px;
        > li {
            &:after {
                right: 10px;
            }
        }
    }
    .section-class .tab-content-list {
        width: calc(100% - 162px);
    }
    .section-class .tab-left-block {
        padding-left: 30px;
    }
}

@media all and (max-width: 640px) {
    .container {
        padding:  0 10px;
    }
}

@media all and (max-width: 600px) {
    .admin-bar .header {
        top: 0;
    }
}

@media all and (max-width: 560px) {
    .watch-block-list {
        > li {
            width: 100%;
        }
    }
}

@media all and (max-width: 480px) {
body.home .wrapper {
    padding-top: 65px;
}
    .header {
        @include animate();
        &.home {
            background-color: rgba(255, 255, 255, 1);
            &.scrolling {
                background-color: rgba(255, 255, 255, 1);
            }
        }
    }
    .tab-left-block,
    .tab-right-block {
        padding: 0;
    }
    .thumbs-container {
        padding: 30px;
    }

    .wrap-404 {
        padding: 0 0 10px;
        font-size: 45px;
        & .error-404{
            margin-bottom: -18px;
            font-size: 140px;
        }
    }
    .swiper-container.news-slider .swiper-slide {
        width: 100%;
    }
    a.btn-play, .btn-play {
        padding-top: 20px;
        padding-left: 90px;
        padding-bottom: 20px;
        font-size: 1.3em;
        line-height: 1;
        &:before {
            margin-top: -20px;
            width: 40px;
            height: 40px;
        }
        &:after {
            border-top: 10px solid transparent;
            border-left: 16px solid rgba(0, 0, 0, 0.9);
            border-bottom: 10px solid transparent;
            left: 40px;
            margin-top: -10px;
        }
    }
    .section-class .tab-name-list {
        float: none;
        width: 100%;
        margin: 0 -10px;
        > li {
            display: inline-block;
            width: 45%;
            margin-bottom: 10px;
            &.active {
                padding: 10px 20px 10px;
            }
        }
    }
    .section-class .tab-content-list {
        float: none;
        width: 100%;
    }
    .section-class .tab-left-block {
        padding-left: 30px;
    }
}

@media all and (max-width: 420px) {
    .new-img-wrap {
        max-width: 100%;
        img {
            width: 100%;
        }
    }
}

@media all and (max-width: 380px) {

}

@media all and (max-width: 360px) {

}

@media all and (max-width: 350px) {

}